.slider-wrapper {
  width: 100vw;
  height: 80vh;
  margin: 0rem auto 1rem;
  /* border-radius: 70px; */
  box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.3);
  overflow: hidden;
  background-color: black;
  z-index: -1;
  position: relative;
}

.slide {
  width: 100vw;
  height: 80vh;
}

.each-slide {
  display: flex;
  width: 100vw;
  height: 80vh;
}

.each-slide > div {
  width: 100vw;
}

.each-slide > div img {
  width: 100vw;
  height: 80vh;
  opacity: 0.7;
  object-fit: cover;
}

@media only screen and (max-width: 830px) {
  .slider-wrapper,
  .slide,
  .each-slide,
  .each-slide > div img {
    height: 50vh;
  }
}
